@model EmployeesSysytem.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/employees/@Model.Image" style="width:150px; height:150px; border-radius:20px"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.City!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthOfDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthOfDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Department!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Designation!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender!.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bank!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentTerm)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmploymentTerm)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeeStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeeStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmploymentDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmploymentDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InactiveDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InactiveDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InactivityReason)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InactivityReason)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedById)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
</div>
<div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mx-2">Edit</a>
        <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
