@model EmployeesSysytem.Models.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-plus"></i>Add New Employee</a>
</p>

<div class="card">
    <div class="card-header">

        <h3 class="card-title">Employees List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CityId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmailAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeStatus)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Employees)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department!.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City!.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmailAddress)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmployeeStatus)
                        </td>

                        <td>
                            <div class="dropdown d-flex justify-content-center">
                               
                                <a class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
                                <ul class="dropdown-menu dropdown-menu-dark text-center" style="">
                                    <li class="mt-2 mb-2"><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-lg-1"><i class="fa-solid fa-marker"></i>Edit</a></li>
                                    <li class="mt-2 mb-2"><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning mx-lg-1"><i class="fa-solid fa-book"></i>Details</a></li>
                                    <li class="mt-2 mb-2"><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger  mx-lg-1"><i class="fa-solid fa-trash-can"></i>Delete</a></li>
                                </ul>
                            </div>
                        </td>
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
